# env/credenciales
.env
.env.*
*.secret.*
*.private.*
serviceAccount*.json
firebase-service-account*.json

# caches/IDE
/vendor/
node_modules/
.DS_Store
Thumbs.db
*.log

# Firebase configs reales
config/firebase-config.js
**/google-services.json
**/GoogleService-Info.plist

admin.php
